(
    name: "Witch Hazel Hypercolor",
    foreground: "#f8f8f2",
    cursor: "#ae81ff",
    bright_foreground: "#f8f8f2",
    dim_foreground: "#bfbfbf",
    normal: (
        black: "#282634",
        red: "#dc7070",
        green: "#81ffbe",
        yellow: "#fff781",
        blue: "#1bc5e0",
        magenta: "#ae81ff",
        cyan: "#81eeff",
        white: "#bfbfbf",
    ),
    bright: (
        black: "#3b364e",
        red: "#ff81ad",
        green: "#c2ffdf",
        yellow: "#fff9a3",
        blue: "#81eeff",
        magenta: "#c5a3ff",
        cyan: "#81eeff",
        white: "#f8f8f2",
    ),
    dim: (
        black: "#131218",
        red: "#894e63",
        green: "#81ffbe",
        yellow: "#fff781",
        blue: "#1bc5e0",
        magenta: "#8864cb",
        cyan: "#1bc5e0",
        white: "#716799",
    ),
)
